*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:monospace ;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.username{
    margin-top:.9em;

}
.alternative{
    font-family: monospace;
    font-size: large;
    
}
.link{
    text-decoration: none;
    font-weight: lighter;
    font-family:monospace;
    font-size: larger;
    color:#2196f3;

}
.person{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2196f3;
    background-color: rgb(222, 219, 219);
}
.log_person{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 1.2em;
    
}
.password{
    margin-top: .9em;

}
.remember_me{
    margin-top: 1em;
}
.login{
  justify-content:stretch;
  justify-items: center;
  width: 100%;
    
}

.remember{
    display: flex;
}
.text{
    margin-left: .4em;
    font-family:monospace ;
}
.btn{
    margin-top: .9em;  
}
.f_password{
    margin-top: 1em;
}
.icon{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: .3em;
}
.option_two{
    margin-top: 2em;
    
}
.instalink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid #2196f3;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 219, 219);
    
}
.facebooklink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid #2196f3;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 219, 219);

}
.twitterlink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid #2196f3;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 219, 219);

}
.twitterlink:active,.twitterlink:hover{
    transform: translateY(-1em);
    border: 1.5px solid #2196f3;
}
.facebooklink:active,.facebooklink:hover{
    transform: translateY(-1em);
    border: 1.5px solid #2196f3;
}
.instalink:active,.instalink:hover{
    transform: translateY(-1em);
    border: 1.5px solid #2196f3;
}