*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.username{
    margin-top:.9em;

}
.alternative{
    font-family: monospace;
    
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-family:monospace;
    font-size: larger;

}
.person{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    /* background-color:#1de9b6; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkviolet;
}
.log_person{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 1.2em;
    
}
.password{
    margin-top: .9em;

}
.remember_me{
    margin-top: .5em;
}
.remember{
    display: flex;
}
.btn{
    margin-top: .7em;
    display: flex;
    justify-content: space-between;
}
.f_password{
    margin-top: 1em;
}
.icon{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: .3em;
}
.option_two{
    margin-top: 2em;
    
}
.instalink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid green;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.facebooklink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid green;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.twitterlink{
    padding: .3em;
    border-radius: 50%;
    border: 1px solid green;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.twitterlink:active,.twitterlink:hover{
    transform: translateY(-1em);
    border: 2px solid seagreen;
}
.facebooklink:active,.facebooklink:hover{
    transform: translateY(-1em);
    border: 2px solid seagreen;
}
.instalink:active,.instalink:hover{
    transform: translateY(-1em);
    border: 2px solid seagreen;
}